@model ReferencesViewModel

<a href="@Url.Action("edit","edit", new { EditEventId = Model.EventActions.EditEventId })">Изменить форму регистрации на мероприятие</a>
<a href="@Url.Action("signup", "signup", new { RegistrationEventId = Model.EventActions.RegistrationEventId})">Регистрация на мероприятие</a>
<a href="@Url.Action("registrations", "registrations", new { resultsEventId = Model.EventActions.ResultsEventId})">Список участников</a>