@model IndexViewModel

<div>
    <h1>Сервис динамического бронирования</h1>
    <form asp-action="create" asp-controller="Create" method="get">
        <button type="submit" class="btn btn-primary">Создать форму</button>
    </form>
</div>