@model FormViewModel

<form asp-action="Create" asp-controller="Create" method="post" enctype="multipart/form-data">
    <h2>Создание формы резерврования на мероприятие</h2>
    <div class="owner">
        <label>Имя</label>
        <input type="text" asp-for="Event.Owner.Name" maxlength="20" required />
        <label>Фамилия</label>
        <input type="text" asp-for="Event.Owner.Surname" maxlength="30" required />
        <label>Отчество</label>
        <input type="text" asp-for="Event.Owner.Patronymic" maxlength="30" required />
        <label>Номер телефона</label>
        <input type="tel" asp-for="Event.Owner.PhoneNumber" maxlength="11" required />
        <label>Email</label>
        <input type="email" asp-for="Event.Owner.Email" maxlength="50" required>
    </div>
    <div class="event">
        <label>Название мероприятия</label>
        <input type="text" asp-for="Event.Title" maxlength="100" required />
        <label>Описание</label>
        <input type="text" asp-for="Event.Description" maxlength="500" required />
        <label>Файлы мероприятия</label>
        <label>Даты проведения</label>
        <button type="submit" class="btn btn-primary">Добавить дополнительную дату проведения</button>
        <h5>Время начала мероприятия</h5>
        <label>Время проведения</label>
        <button type="submit" class="btn btn-primary">Добавить время проведения</button>      
        <label></label>
        <label>Опциональные поля</label>
        <button type="submit" class="btn btn-primary">Добавить для заполнения</button>
    </div>
    <input type="submit" class="btn btn-primary" value="Создать форму" />
</form>